<header class='entete'>

 <%- include('menu.ejs') %>
 <section >
 <i class="fa fa-cubes fa-5x"></i>
 <img href="https://jaystack.com/wp-content/uploads/2015/12/nodejs-logo-e1497443346889.png"></img>
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>
 </header>