<nav> 

 <a href='/accueil'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
 <a href='/adresses'><i class="fas fa-address-card"></i></i>Adresse</a>
 <a href='/vider'><i class="fas fa-user-times"></i></i>Vider</a>
 <a href='/peupler'><i class="fas fa-user-plus"></i>Peupler</a>


</nav> 